<!DOCTYPE html>
<html>
  <head>
    <title>PhanCamp</title>
    <%= favicon_link_tag asset_path('pc_logo.png') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">
    <script src="https://kit.fontawesome.com/d9dbc06b4c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.featurePhish = "<%= image_url('featurePhish.png') %>";
      window.featureGD = "<%= image_url('featureGD.jpg') %>";
      window.featureGoose = "<%= image_url('featureGoose.png') %>";
      window.featureWeen = "<%= image_url('featureWeen.jpg') %>";
      window.searchMag = "<%= image_url('search.png') %>";
      window.playIcon = "<%= image_url('play2.png') %>";
      window.pauseIcon = "<%= image_url('pause2.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
